@font-face {
    font-family: 'robotoregular';
    src: url('roboto/roboto-regular-webfont.eot');
    src: url('roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('roboto/roboto-regular-webfont.woff') format('woff'),
         url('roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
   font-family: 'robotoregular', 'Roboto', serif;;
}

table{
    width:100%;
    font-size:12pt;
}

.object{
   margin-top:25px;
   margin-bottom:5px;
   text-align: center;
   font-size:16pt;
}

.right{
   text-align: right;
}

.bold{
   font-weight: bold;
}
